/* ------------------------------------Fonts */
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400&family=Inter:wght@400;500&family=Newsreader:opsz,wght@6..72,400;6..72,500&display=swap');

/* ------------------------------------Universal */
* {   padding: 0;   margin: 0;}

/* ------------------------------------Header */
body {
    --color1: #F2F2F2;
    --color2: #181818;
    --color3: #ffffff;
}

.primary-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color3);
    padding: 12px 20px;
}

.primary-header li {
    padding-left: 20px;
}

.primary-header li a {
    color: var(--color2); 
    font: 400 20px Inter;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.40s ease-in-out;
}

nav a:link { text-decoration: none; }

nav a:hover {
    font-weight: 800;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

 .primary-nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    --gap: 60px;
 }

.university-name {
    display: flex;
    font: 500 10px Newsreader;
    color: #426B1F;
    letter-spacing: -0.08px;
    align-items: center;
    padding-left: 15px;
 }

 .list-inline-item:first-child {
    left: 0;
    position: absolute;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display:none;
}

/*For small devices, it will display hamburger icon and have the nav menu as a column */
/*For bigger devices, it will display the nav menu as a row on top of the screen */
@media(max-width: 700px) {
    .primary-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        width: 25%;
        height: 100vh; 
        position: fixed; /*So when the user scrolls down, nav menu will be fixed */
        top: 0;
        right: -100%;
        z-index: 100; /*To stack in front of main page section */
        background-color: hsl(0 0% 100% / 0.9); 
        transition: all 0.3s ease-in-out;
    }

    .primary-header li a  {
        font: 400 14px Inter;
        padding: 10px;
    }

    .primary-header li {
        margin-top: 10px;
    }

    .open-menu , .close-menu {
        display: block;
        color: var(--color2);
    }

    #check:checked ~.primary-nav-menu {
        right:0;
    } 
}


/* ------------------------------------Section 0: Home */

 .mixsoc-home {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: var(--color1);
    background-image: url(../img/bkg-drink.jpg);
    background-size: cover;
    padding-bottom: 100px;
    opacity: 0.95;
 }

#home {
    padding: 10px
}

 .mixsoc-home-title {
    box-sizing: border-box;
    max-width: 235px;
    font: 400 50px Glory;
    color: #D3BF50;
    display:flex;
    flex: 0 0 auto;
    text-align: left;
    letter-spacing: 1px;
 }

 .mixsoc-home-subheading{
    color: var(--color1);
    font: 200 20px Glory;
    font-style: extralight;
    letter-spacing: -0.3px;
 }
 

/* ------------------------------------Section 1: About Us */

#about-us {
    background-color: var(--color1);
}

#about-us h2 {
    color: var(--color2);
    font: 500 80px Glory;
}

#about-us h3 {
    color: var(--color2);
    font: 700 20px Glory;
}

#about-us p {
    color: var(--color2);
    font: 400 20px Glory;
}

.about-us-top {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content:center;
    padding: 30px;
    margin-right: 300px;
}

.about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 800px;
    padding: 15px;
}

/*For small devices, it will display main text body at the bottom */
/*For bigger devices, it will display as a column on the right hand side */
@media(max-width: 700px) {
    .about-us-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about-us-body {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px;
    }
    
    #about-us h2 {
        font: 600 40px Glory;
    }

    #about-us h3 {
        font: 10px;
    }

    #about-us p {
        font-size: 10px;
    }
}

/* ------------------------------------Section 2: Committee */

/* ------------------------------------Section 3: Free Recipes */


/* ------------------------------------Section 4: Sign Up */



/* ------------------------------------Footer */


/* ------------------------------------Media Queries */

/*BREAKPOINT 1 - XS device eg. iPhone 4, dimen: 320x480*/
@media (max-width: 320px) {
    /*Home*/
    .mixsoc-home-title {font-size: 35px;}
    .mixsoc-home-subheading{
        font-size: 20px;
        margin-top: -12px;
        padding-bottom: 20px;
    }
}

/*BREAKPOINT 2 - Small device eg. Motorola Droid Razr, dimen: 540x960*/
@media (min-width: 321px) and (max-width: 540px) {
    /*Header*/
    .university-name {font-size: 12px;}
    /*Home*/
    .mixsoc-home-title {font-size: 60px;}
    .mixsoc-home-subheading{
        font-size: 30px;
        margin-top: -15px;
        padding-bottom: 40px;
    }
}

/*BREAKPOINT 3 - Medium device eg. LG Nexus 4, dimen: 768x1280*/
@media (min-width: 541px) and (max-width: 768px) {
    /*Header*/
    .university-name {font-size: 12px;}
    .primary-header li a { 
        font-size: 15px;
        padding: 5px;
    }
    /*Home*/
    .mixsoc-home-title {font-size: 90px;}
    .mixsoc-home-subheading{
        font-size: 45px;
        margin-top: -15px;
        padding-bottom: 70px;
    }
}

/*BREAKPOINT 4 - Large device eg. Laptops*/
@media (min-width: 769px) and (max-width: 1080px) {
        /*Header*/
        .university-name { font-size: 18px;}
        .primary-header li a { 
            font-size: 18px;
            padding: 8px;
        }
        /*Home*/
        .mixsoc-home-title {font-size: 120px;}
        .mixsoc-home-subheading{
            font-size: 60px;
            margin-top: -20px;
            padding-bottom: 90px;
        }
}

/*BREAKPOINT 5 - XL device eg. AcerChromebook*/
@media (min-width: 1079px) and (max-width: 1366px) {
    /*Header*/
    .university-name { font-size: 25px;}
    .primary-header li a { 
        font-size: 25px;
        padding: 12px;
    }
    /*Home*/
    .mixsoc-home-title {font-size: 150px;}
    .mixsoc-home-subheading{
        font-size: 80px;
        margin-top: -20px;
        padding-bottom: 120px;
    }
}

/*BREAKPOINT 6 - XXL device e.g. Dell XPS 13*/
@media (min-width: 1367px) and (max-width: 1920px) {
    /*Header*/
    .university-name { font-size: 40px;}
    .primary-header li a { 
        font-size: 40px;
        padding: 15px;
    }
    /*Home*/
    .mixsoc-home-title {font-size: 235px;}
    .mixsoc-home-subheading{
        font-size: 120px;
        margin-top: -20px;
        padding-bottom: 300px;
    }
}