/* ------------------------------------Fonts */
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400&family=Inter:wght@400;500&family=Newsreader:opsz,wght@6..72,400;6..72,500&display=swap');

/* ------------------------------------Universal */
* {   padding: 0;   margin: 0;}

/* ------------------------------------Header */
body {
    --color1: #F2F2F2;
    --color2: #181818 ;
}

.primary-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color1);
    padding: 12px 20px;
}

.primary-header li {
    padding-left: 20px;
}

.nav-link:hover {
    color: #232023;
}

.primary-header li a {
    color: var(--color2); 
    font: 400 20px Inter;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.20s ease-in-out;
}

 .primary-header a.icon {
    background: var(--color2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

 .primary-nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    --gap: 60px;
 }

.university-name {
    display: flex;
    font: 500 20px Newsreader;
    color: #426B1F;
    letter-spacing: -0.08px;
    align-items: center;
    flex:1 1;
    padding-left:50px;
 }

 .list-inline-item:first-child {
    left: 0;
    position: absolute;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display:none;
}

/*For small devices, it will display hamburger icon and have the nav menu as a column */
/*For bigger devices, it will display the nav menu as a row on top of the screen */
@media(max-width: 610px) {
    .primary-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        width: 25%;
        height: 100vh; 
        position: fixed; /*So when the user scrolls down, nav menu will be fixed */
        top: 0;
        right: -100%;
        z-index: 100; /*To stack in front of main page section */
        background-color: hsl(0 0% 100% / 0.9); 
        transition: all 0.3s ease-in-out;
    }

    .primary-header li a  {
        font: 400 14px Inter;
        padding: 10px;
    }

    .primary-header li {
        margin-top: 10px;
    }

    .open-menu , .close-menu {
        display: block;
        color: var(--color2);
    }

    #check:checked ~.primary-nav-menu {
        right:0;
    } 
}


/* ------------------------------------Section 0: Home */

 .mixsoc-home {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: var(--color1);
    background-image: url(../img/bkg-drink.jpg);
    background-size: cover;
    padding-bottom: 100px;
    opacity: 0.95;
 }

#home {
    padding: 10px
}

 .mixsoc-home-title {
    box-sizing: border-box;
    max-width: 235px;
    font: 400 50px Glory;
    color: #D3BF50;
    display:flex;
    flex: 0 0 auto;
    text-align: left;
    letter-spacing: 1px;
 }

 .mixsoc-home-subheading{
    color: var(--color1);
    font-family: Glory;
    font-size: 20px;
    max-width: 235px;
    font-style: extralight;
    font-weight: 200;
    letter-spacing: -0.3px;
 }
 

/* ------------------------------------Section 1: About Us */

#about-us {
    background-color: var(--color1) ;
}

/* ------------------------------------Section 2: Committee */

/* ------------------------------------Section 3: Free Recipes */


/* ------------------------------------Section 4: Sign Up */



/* ------------------------------------Footer */


/* ------------------------------------Media Queries */

/*BREAKPOINT 1 - XS device*/
@media (max-width: 320px) {

    .row-bkg-header {
        margin: 0.7rem auto;
        height: 0.7rem;
        width: 30rem;
    }

    a {
        font: 8px;
    }

    .nav-link {
        transition: 0.7s ease;
    }

    .university-name {
        padding-left:10px;
        font: 8px;
        align-items: center;
     }

     .mixsoc-home {
        padding-bottom: 100px;
     }

     .mixsoc-home-title {
        font-size: 50px;
     }

     .mixsoc-home-subheading{
        font-size: 20px;
     }

}

/*BREAKPOINT 2 - Small device*/
@media (max-width: 576px) {

     .list-inline-item {
        font: 30px;
     }

     .row-bkg-header {
        margin: 1rem auto;
        height: 1rem;
        width: 30rem;
     }

     .mixsoc-home {
        padding-bottom: 120px;
     }

     .mixsoc-home-title {
        font-size: 60px;
     }

     .mixsoc-home-subheading{
        font-size: 30px;
     }

}

/*BREAKPOINT 3 - Medium device*/
@media (max-width: 768px) {
    .row-bkg-header {
        height: 1.5rem;
    }

}

/*BREAKPOINT 4 - Large device*/
@media (max-width: 992px) {
    .row-bkg-header {
        height: 2rem;
    }

    .mixsoc-home {
        padding-bottom: 140px;
     }

     .mixsoc-home-title {
        font-size: 70px;
     }

     .mixsoc-home-subheading{
        font-size: 40px;
     }
}

/*BREAKPOINT 5 - XL device*/
@media (max-width: 1200px) {
    .row-bkg-header {
        height: 2.5rem;
    }

    .mixsoc-home {
        padding-bottom: 150px;
     }

     .mixsoc-home-title {
        font-size: 80px;
     }

     .mixsoc-home-subheading{
        font-size: 50px;
     }
}

/*BREAKPOINT 6 - XXL device*/
@media (max-width: 1400px) {

    .row-bkg-header {
        height: 3rem;
    }

    .mixsoc-home {
        padding-bottom: 200px;
     }

     .mixsoc-home-title {
        font-size: 100px;
     }

     .mixsoc-home-subheading{
        font-size: 50px;
     }
}